.App {
    font-family: sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: #f0f0f0;
  }
  
  li {
    list-style: none;
    display: inline-block;
    margin: 0 1rem;
    color: white;
    font-weight: bold;
    font-size: 24px;
  }
  
  header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #7b7b7b;
    color: white;
    min-height: 10vh;
  }
  
  .bar {
    margin-right: 2rem;
    /* background: #666; */
    flex: 1;
    display: none;
    position: relative;
    font-size: 1.25rem;
  }
  
  .logo {
    text-align: center;
    flex: 2;
    font-weight: bold;
    font-size: 24px;
    /* background: #999; */
  }
  
  nav {
    flex: 5;
  }
  
  @media (max-width: 800px) {
    .bar {
      display: block;
    }
    nav {
      position: absolute;
      top: 10vh;
      left: 0;
      background: #000;
      height: 90vh;
      width: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      transform: translateX(-100%);
      transition: all 0.4s ease;
    }
    .sidebar {
      background: #5c5c5e;
      transform: translateX(0%);
     
    }
  
    nav ul {
      height: 50vh;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }
  
    .logo {
      text-align: right;
      margin-right: 50px;
    
    }
  }
  /*browser card */
  .p-browser{
    height: 20px;
    background-color: rgb(220, 207, 207);
    display: flex;
    align-items: center;
    
  }
  .p-circle{
    width: 6px;
    height: 6px;
    border-radius: 50px;
    margin: 3px;
    background-color: rgb(243, 242,242);
  }